.icon-lottery {
  height: 550px;
  width: clamp(260px, 75vw, 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 16px;
  filter: drop-shadow(0 6px 0 black);
  & h1 {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
  }
  & button {
    white-space: nowrap;
    font-size: 30px;
    font-weight: 800;
    color: white;
    background-color: #2573ae; 
    transition: background-color .05s ease;
    border: none;
    border-radius: 16px;
    padding: 8px 45px;
    filter: drop-shadow(0 4px 0 rgb(42, 41, 41));
    cursor: pointer;
    &:active {
      position: relative;
      top: 2px;
      background-color: #1c5580;
      filter: drop-shadow(0 2px 0 rgb(42, 41, 41));
    }
  }
}

.blurred {
  filter: blur(5px);
}
